# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing
.tox/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Irrelevant to build
.env*
.gitignore
.travis.yml
LICENSE
README.md
Dockerfile
docker-compose.yml
